body {
  background-color: #3AAFA9;
  color: #17252A;
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DEF2F1;
  padding: 10px;
  height: 47px;
  margin-bottom: 20px;
}


  nav > div > .button {
  background-color: #17252A;
  border: none;
  color: #DEF2F1;
  border-radius: 50px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 5px;
}


.posts--container {
  display: flex;
  flex-wrap: wrap;
}

.post--container {
  max-width: 200px;
  background-color: #DEF2F1;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
}

.fab-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  color: #3AAFA9;
  height: 50px;
  background-color: #DEF2F1;
  width: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
}

button:hover, .button:hover, .post--container:hover {
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
}

.modal {
  background-color: #DEF2F1;
  position: absolute;
  z-index: 3;
  top: 30vh;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  border-radius: 6px;
  padding: 30px;
  left: 0;
  right: 0;
  margin: 0px 20px;
}

.modal--body {
  display: flex;
  flex-direction: column;
}

.modal--body > input {
  height: 40px;
  border: none;
  border-radius: 6px;
  margin: 10px 0px;
  padding: 0px 10px;
}

.modal--footer > button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3AAFA9;
  color: #DEF2F1;
}
